/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.card-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  width: 80%;
  min-height: 40%;
}
.add-appointment-container {
  border-bottom: 2px solid #b5b7c4;
  margin-bottom: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.add-appoint-text-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.head {
  color: #171f46;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Roboto';
}
.input-container {
  margin-bottom: 30px;
}
.label-text {
  color: #b5b7c4;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 14px;
}
.input-width {
  width: 90%;
  margin-top: 10px;
}
.button {
  background-color: #8b5cf6;
  border: 0px;
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Roboto';
  width: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}
.appointment-image {
  width: 50%;
}
.starred-container {
  display: flex;
  justify-content: space-between;
}
.starred-button {
  color: #8b5cf6;
  border: 2px solid #9897f0;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Roboto';
  width: 100px;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
}
.appointments-container {
  display: flex;
  list-style-type: none;
  padding: 0px;
  flex-wrap: wrap;
}
